body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4bb696, #00f2fe);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: left;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 30px;
    background: #94cfd1;
    padding: 10px;
    box-shadow: 0 20px 20px rgba(201, 155, 155, 0.1);
    border-radius: 10px;
    flex-wrap: wrap;
}

.form-container, .result-container {
    flex: 10;
    padding: 20px;
    min-width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #007BFF;
}

button {
    padding: 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.kategori-container{
    border-radius: 10px;
    padding: 10px;
    background-color: #00f2fe;
}

.result-container {
    background: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    transition: background-color 0.3s;
}

.result-container.underweight {
    background-color: #FFD700; /* Gold */
}

.result-container.normal {
    background-color: #32CD32; /* Lime Green */
}

.result-container.overweight {
    background-color: #FFA500; /* Orange */
}

.result-container.obesity {
    background-color: #FF4500; /* Orange Red */
}

#result-text, #suggestion-text {
    font-size: 1.5em;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        width: 60%;
    }

    .form-container, .result-container {
        min-width: 70%;
    }

    input, select, button {
        width: 90%;
        box-sizing: border-box;
    }

    .input-group {
        width: 100%;
    }

    .input-group {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    body {
        height: auto;
        padding: 20px;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    .form-container, .result-container {
        padding: 10px;
    }

    button {
        padding: 10px;
    }

    #result-text, #suggestion-text {
        font-size: 1.2em;
    }
}